:root {
    --min-bg-color:#000;
    --min-text-color:#000;
    --second-text-color:#bbbec5;
    --second-bg-color:#c1efde;
}
.primary-text {
    color: var(--min-text-color);
}
.second-text {
    color: var(--second-text-color);
}
.primary-bg {
    background-color: var(--min-bg-color);
}
.secondary-bg {
    background-color: var(--second-bg-color);
}
.rounded-full {
    border-radius: 100%;
}
#wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
         to right,
         #f3f4f7fa,
         #f3f4f7fa,
         #f3f4f7fa,
         #f3f4f7fa,
         #f3f4f7fa
    );
}
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}
#sidebar-wrapper .list-group {
    width: 15rem;

}
#page-content-wrapper {
    min-width: 100vh;
}
#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}
#menu-toggle {
    cursor: pointer;
}
.side-nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}
.side-nav-button:hover {
  background-color: rgba(255, 255, 255, 8,2);
  border-radius: 30%;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0px;
}




.list-group-item {
    border: none;
    padding: 20px 30px;
}
.list-group-item.active {
    background-color: transparent;
    color: var(--min-text-color);
    font-weight: bold;
    border: none;
}
@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    } 
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}


.course-badge {
    background-color:white ; /* لون الخلفية */
    color: #000; /* لون النص */
    padding: 10px 15px; /* هامش داخلي */
    border-radius: 5px; /* حواف مستديرة */
    display: inline-block; /* عرض كمربع مستطيل */
}

.course-badge i {
    margin-right: 5px; /* هامش يمين الأيقونة */
}



.title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px;
    border-bottom: 2px solid #999;
}

table{
    padding: 10px;
}
th,
td{
    text-align: left;
    padding: 8px;
}


.nav-group{
 
 top: 0;
 bottom: 0;
 height: 100%;
 left: 0;
 background: #fff;
 width: 90px;

 
 box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo{
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 10px 0 0 10px;
}
.logo img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
} 
.logo span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
a{
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  
 
  padding: 10px;
}
.fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
